<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    
<configSections>
	<section name="FIConfig" type="FI.Common.AppConfig,FI.Common" />
</configSections>




<system.runtime.remoting>

	  <customErrors mode="off"/>

      <application name="FieldInformer.NET">
      
      <channels>
        <channel ref="tcp"  port="8070"/>
      </channels>
      
      <service>
			<wellknown mode="SingleCall" type="FI.DataAccess.Users, FI.DataAccess" objectUri="IUsersDA"/>
			<wellknown mode="SingleCall" type="FI.DataAccess.Contacts, FI.DataAccess" objectUri="IContactsDA"/>
			<wellknown mode="SingleCall" type="FI.DataAccess.Distributions, FI.DataAccess" objectUri="IDistributionsDA"/>
			<wellknown mode="SingleCall" type="FI.DataAccess.OlapSystem, FI.DataAccess" objectUri="IOlapSystemDA"/>
			<wellknown mode="SingleCall" type="FI.DataAccess.OlapReports, FI.DataAccess" objectUri="IOlapReportsDA" />
			<wellknown mode="SingleCall" type="FI.DataAccess.StorecheckReports, FI.DataAccess" objectUri="IStorecheckReportsDA" />
			<wellknown mode="SingleCall" type="FI.DataAccess.CustomSqlReports, FI.DataAccess" objectUri="ICustomSqlReportsDA" />
			<wellknown mode="SingleCall" type="FI.DataAccess.CustomMdxReports, FI.DataAccess" objectUri="ICustomMdxReportsDA" />
		    <wellknown mode="SingleCall" type="FI.DataAccess.DashboardSystem, FI.DataAccess" objectUri="IDashboardSystemDA" />
	  </service>

      </application>
</system.runtime.remoting>





<FIConfig>

	<add key="EventLogName" value="FieldInformer.NET"/>
	<add key="EventLogSource" value="Service"/>
	
	<add key="DA_ConnectionString" value="server=mainframe; User ID=spp; Password=spp; Database=DBFINF_eForce;" />
	<add key="DA_OltpConnectionString" value="server=mainframe; User ID=sa; Password=145}]21; Database=@DATABASE;"/>
	<add key="DA_CommandTimeout" value="600" />
	<add key="DA_MdxCommandTimeout" value="14400" />
	
	<add key="DA_OlapProcessorCount" value="5" />
	
	<add key="IsDebugMode" value="true"/>
	
</FIConfig>




</configuration>
