<?xml version="1.0" encoding="utf-8" ?>
<configuration>


	<configSections>
		<section name="FIConfig" type="FI.Common.AppConfig,FI.Common" />
	</configSections>

	<FIConfig>

		<add key="EventLogName" value="FieldInformer.NET"/>
		<add key="EventLogSource" value="ConsoleClient"/>
		<add key="LogPath" value="ConsoleClient"/>
			
		<add key="SmtpSender" value="fi.test@fieldforce.com"/>
		<add key="SmtpServer" value="10.2.0.2"/>
		<add key="SmtpPort" value="25"/>
		<add key="SmtpUserName" value=""/>
		<add key="SmtpPassword" value=""/>
		<add key="OnErrorMailTo" value="" />

		  <add key="DistributionServiceURL" value="http://localhost:59295/UI.Web/WebServices/DistributionService.asmx" />
		  <add key="DistributionServiceUser" value="" />
		  <add key="DistributionServicePassword" value="" />
		  <add key="DistributionServiceTimeout" value="600000" />

		 <!--
		  <add key="PingServiceURL" value="http://localhost/FieldInformer/WebServices/PingService.asmx" />
		  <add key="PingServiceUser" value="" />
		  <add key="PingServicePassword" value="" />
		  <add key="PingServiceTimeout" value="600000" />
		  <add key="PingServiceProxy" value="http://cache.online.ee:80" />
		  <add key="PingMDX" value="select {[Measures].Members(0)} on rows , {[Time].[Monthly].Members(0)} on columns from VIRTUAL" />
		  <add key="PingMailTo" value="" /> 
		-->
		  
		  <add key="IsDebugMode" value="true"/>

	</FIConfig>


</configuration>
