<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="SchemaMapFilePath" value="c:\inetpub\wwwroot\FieldInformer2005\SchemaMap.xml"/>
    <add key="DBFINFConnection" value="server=10.3.0.247; User ID=spp; Password=spp; Database=DBFINF2005;"/>
    <add key="DBFINFCompanyId" value="15028"/>

    <add key="SrcOlapConnection" value="Data Source=10.2.0.1;Initial Catalog=DBSALESPP_CAM;Provider=MSOLAP;MDX Unique Name Style=3;"/>
    <add key="SrcCube" value="VIRTUAL"/>
    
    <add key="DestOlapConnection" value="Data Source=10.3.0.247;Initial Catalog=DBSALESPP;Provider=MSOLAP;MDX Unique Name Style=3;"/>
    <add key="DestCube" value="VIRTUAL"/>
    
  </appSettings>
</configuration>