<?xml version="1.0" encoding="utf-8" ?>
<configuration>

<configSections>
	<section name="FIConfig" type="FI.Common.AppConfig,FI.Common"/>
</configSections>


 <system.runtime.remoting> 
    <application>
    
      <channels>
		<channel ref="tcp" port="8072" />
      </channels> 
      
      <client url="tcp://localhost:8070/FieldInformer.NET">  
        <wellknown type="FI.DataAccess.Users,FI.DataAccess" url="tcp://localhost:8070/FI.DataAccess.Users"/>
        <wellknown type="FI.DataAccess.Contacts,FI.DataAccess" url="tcp://localhost:8070/FI.DataAccess.Contacts"/>
        <wellknown type="FI.DataAccess.Distributions,FI.DataAccess" url="tcp://localhost:8070/FI.DataAccess.Distributions"/>
        <wellknown type="FI.DataAccess.OlapSystem,FI.DataAccess" url="tcp://localhost:8070/FI.DataAccess.OlapSystem"/>
        <wellknown type="FI.DataAccess.OlapReports,FI.DataAccess" url="tcp://localhost:8070/FI.DataAccess.OlapReports"/>
        <wellknown type="FI.DataAccess.StorecheckReports,FI.DataAccess" url="tcp://localhost:8070/FI.DataAccess.StorecheckReports"/>
        <wellknown type="FI.DataAccess.CustomSqlReports,FI.DataAccess" url="tcp://localhost:8070/FI.DataAccess.CustomSqlReports"/>
        <wellknown type="FI.DataAccess.CustomMdxReports,FI.DataAccess" url="tcp://localhost:8070/FI.DataAccess.CustomMdxReports"/>
      </client>
      
    </application>
 </system.runtime.remoting>
 
	
 
</configuration>
