<ROOT>

<MEASURES_HIERARCHY>

	<SCHEMA SERVER="localhost" DATABASE="DBSALESPP" CUBE="VIRTUAL"/>
	
	<H UN="[Measures]">
	
		<L UN="[Measures].[Type]" N="Measure Type" LD="0">
			<DM UN="[Measures].[Delivery Monetary Sum]" N="Delivery Monetary Sum" CC="0" LD="1"/>
		</L>
		<L UN="[Measures].[Measure]" N="Measure" LD="1"/>
		
		<M UN="[Measures].[Deliveries]" N="Deliveries" CC="33" LD="0" PH="1" > 
			<M UN="[Measures].[Delivery Case Avg]" N="Delivery Case Avg" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Case Max]" N="Delivery Case Max" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Case Min]" N="Delivery Case Min" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Case Sum]" N="Delivery Case Sum" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Cons Pkg Avg]" N="Delivery Cons Pkg Avg" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Cons Pkg Max]" N="Delivery Cons Pkg Max" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Cons Pkg Min]" N="Delivery Cons Pkg Min" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Cons Pkg Sum]" N="Delivery Cons Pkg Sum" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Count]" N="Delivery Count" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Monetary (Pricelist) Avg]" N="Delivery Monetary (Pricelist) Avg" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Monetary (Pricelist) Max]" N="Delivery Monetary (Pricelist) Max" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Monetary (Pricelist) Min]" N="Delivery Monetary (Pricelist) Min" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Monetary (Pricelist) Sum]" N="Delivery Monetary (Pricelist) Sum" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Monetary (Prodprice) Avg]" N="Delivery Monetary (Prodprice) Avg" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Monetary (Prodprice) Max]" N="Delivery Monetary (Prodprice) Max" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Monetary (Prodprice) Min]" N="Delivery Monetary (Prodprice) Min" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Monetary (Prodprice) Sum]" N="Delivery Monetary (Prodprice) Sum" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Monetary Avg]" N="Delivery Monetary Avg" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Monetary Max]" N="Delivery Monetary Max" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Monetary Min]" N="Delivery Monetary Min" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Monetary Sum]" N="Delivery Monetary Sum" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Pallet Avg]" N="Delivery Pallet Avg" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Pallet Max]" N="Delivery Pallet Max" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Pallet Min]" N="Delivery Pallet Min" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Pallet Sum]" N="Delivery Pallet Sum" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Store Distinct Count]" N="Delivery Store Distinct Count" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Unit Avg]" N="Delivery Unit Avg" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Unit Max]" N="Delivery Unit Max" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Unit Min]" N="Delivery Unit Min" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Unit Sum]" N="Delivery Unit Sum" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Weight Net Sum]" N="Delivery Weight Net Sum" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Weight Cpg Gross Sum]" N="Delivery Weight Cpg Gross Sum" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Weight Case Gross Sum]" N="Delivery Weight Case Gross Sum" CC="0" LD="1" />
		</M>
		<M UN="[Measures].[Distribution and Coverage]" N="Distribution and Coverage" CC="28" LD="0" PH="1" > 
			<M UN="[Measures].[Base Selection Semiadd]" N="Base Selection Semiadd" CC="0" LD="1" />
			<M UN="[Measures].[Base Selection Time Diff]" N="Base Selection Time Diff" CC="0" LD="1" />
			<M UN="[Measures].[Cover With Base Sel Semiadd %]" N="Cover With Base Sel Semiadd %" CC="0" LD="1" />
			<M UN="[Measures].[Cover With Sel Semiadd %]" N="Cover With Sel Semiadd %" CC="0" LD="1" />
			<M UN="[Measures].[Coverage Semiadd]" N="Coverage Semiadd" CC="0" LD="1" />
			<M UN="[Measures].[Coverage Time Diff]" N="Coverage Time Diff" CC="0" LD="1" />
			<M UN="[Measures].[Coverage With Base Sel Semiadd]" N="Coverage With Base Sel Semiadd" CC="0" LD="1" />
			<M UN="[Measures].[Coverage With Base Sel Time Diff]" N="Coverage With Base Sel Time Diff" CC="0" LD="1" />
			<M UN="[Measures].[Coverage With Sel Semiadd]" N="Coverage With Sel Semiadd" CC="0" LD="1" />
			<M UN="[Measures].[Coverage With Sel Time Diff]" N="Coverage With Sel Time Diff" CC="0" LD="1" />
			<M UN="[Measures].[Distribution Semiadd %]" N="Distribution Semiadd %" CC="0" LD="1" />
			<M UN="[Measures].[Est Delivery Cover With Base Sel Semiadd %]" N="Est Delivery Cover With Base Sel Semiadd %" CC="0" LD="1" />
			<M UN="[Measures].[Est Delivery Cover With Sel Semiadd %]" N="Est Delivery Cover With Sel Semiadd %" CC="0" LD="1" />
			<M UN="[Measures].[Est Delivery Distribution Semiadd %]" N="Est Delivery Distribution Semiadd %" CC="0" LD="1" />
			<M UN="[Measures].[Est Order Coverage With Base Sel Semiadd %]" N="Est Order Coverage With Base Sel Semiadd %" CC="0" LD="1" />
			<M UN="[Measures].[Est Order Coverage With Sel Semiadd %]" N="Est Order Coverage With Sel Semiadd %" CC="0" LD="1" />
			<M UN="[Measures].[Est Order Distribution Semiadd %]" N="Est Order Distribution Semiadd %" CC="0" LD="1" />
			<M UN="[Measures].[Full Cover With Base Sel Semiadd %]" N="Full Cover With Base Sel Semiadd %" CC="0" LD="1" />
			<M UN="[Measures].[Full Cover With Sel Semiadd %]" N="Full Cover With Sel Semiadd %" CC="0" LD="1" />
			<M UN="[Measures].[Full Distribution Semiadd %]" N="Full Distribution Semiadd %" CC="0" LD="1" />
			<M UN="[Measures].[Inv Cover With Base Sel Semiadd]" N="Inv Cover With Base Sel Semiadd" CC="0" LD="1" />
			<M UN="[Measures].[Inv Cover With Base Sel Semiadd %]" N="Inv Cover With Base Sel Semiadd %" CC="0" LD="1" />
			<M UN="[Measures].[Listing Base Selection Semiadd %]" N="Listing Base Selection Semiadd %" CC="0" LD="1" />
			<M UN="[Measures].[Listing Selection Semiadd %]" N="Listing Selection Semiadd %" CC="0" LD="1" />
			<M UN="[Measures].[Selection Semiadd]" N="Selection Semiadd" CC="0" LD="1" />
			<M UN="[Measures].[Selection Time Diff]" N="Selection Time Diff" CC="0" LD="1" />
			<M UN="[Measures].[Suppl Cover With Base Sel Semiadd]" N="Suppl Cover With Base Sel Semiadd" CC="0" LD="1" />
			<M UN="[Measures].[Suppl Cover With Base Sel Semiadd %]" N="Suppl Cover With Base Sel Semiadd %" CC="0" LD="1" />
		</M>
		<M UN="[Measures].[Facings]" N="Facings" CC="18" LD="0" PH="1" > 
			<M UN="[Measures].[DPM Channel Semiadd]" N="DPM Channel Semiadd" CC="0" LD="1" />
			<M UN="[Measures].[DPM Channel Time Diff]" N="DPM Channel Time Diff" CC="0" LD="1" />
			<M UN="[Measures].[DPM Count]" N="DPM Count" CC="0" LD="1" />
			<M UN="[Measures].[DPM Facing Semiadd]" N="DPM Facing Semiadd" CC="0" LD="1" />
			<M UN="[Measures].[DPM Facing Time Diff]" N="DPM Facing Time Diff" CC="0" LD="1" />
			<M UN="[Measures].[Planogram Channel Avg]" N="Planogram Channel Avg" CC="0" LD="1" />
			<M UN="[Measures].[Planogram Channel Max]" N="Planogram Channel Max" CC="0" LD="1" />
			<M UN="[Measures].[Planogram Channel Min]" N="Planogram Channel Min" CC="0" LD="1" />
			<M UN="[Measures].[Planogram Channel Sum]" N="Planogram Channel Sum" CC="0" LD="1" />
			<M UN="[Measures].[Planogram Cons Pkg Avg]" N="Planogram Cons Pkg Avg" CC="0" LD="1" />
			<M UN="[Measures].[Planogram Cons Pkg Max]" N="Planogram Cons Pkg Max" CC="0" LD="1" />
			<M UN="[Measures].[Planogram Cons Pkg Min]" N="Planogram Cons Pkg Min" CC="0" LD="1" />
			<M UN="[Measures].[Planogram Cons Pkg Sum]" N="Planogram Cons Pkg Sum" CC="0" LD="1" />
			<M UN="[Measures].[Planogram Count]" N="Planogram Count" CC="0" LD="1" />
			<M UN="[Measures].[Planogram Facing Avg]" N="Planogram Facing Avg" CC="0" LD="1" />
			<M UN="[Measures].[Planogram Facing Max]" N="Planogram Facing Max" CC="0" LD="1" />
			<M UN="[Measures].[Planogram Facing Min]" N="Planogram Facing Min" CC="0" LD="1" />
			<M UN="[Measures].[Planogram Facing Sum]" N="Planogram Facing Sum" CC="0" LD="1" />
		</M>
		<M UN="[Measures].[Margin]" N="Margin" CC="1" LD="0" PH="1" > 
			<M UN="[Measures].[Margin]" N="Margin" CC="0" LD="1" />
		</M>
		<M UN="[Measures].[Movement]" N="Movement" CC="20" LD="0" PH="1" > 
			<M UN="[Measures].[DPM Movement Semiadd]" N="DPM Movement Semiadd" CC="0" LD="1" />
			<M UN="[Measures].[DPM Movement Time Diff]" N="DPM Movement Time Diff" CC="0" LD="1" />
			<M UN="[Measures].[POS Count]" N="POS Count" CC="0" LD="1" />
			<M UN="[Measures].[POS Movement Cons Pkg Avg]" N="POS Movement Cons Pkg Avg" CC="0" LD="1" />
			<M UN="[Measures].[POS Movement Cons Pkg Max]" N="POS Movement Cons Pkg Max" CC="0" LD="1" />
			<M UN="[Measures].[POS Movement Cons Pkg Min]" N="POS Movement Cons Pkg Min" CC="0" LD="1" />
			<M UN="[Measures].[POS Movement Cons Pkg Sum]" N="POS Movement Cons Pkg Sum" CC="0" LD="1" />
			<M UN="[Measures].[POS Movement Money Gross Avg]" N="POS Movement Money Gross Avg" CC="0" LD="1" />
			<M UN="[Measures].[POS Movement Money Gross Max]" N="POS Movement Money Gross Max" CC="0" LD="1" />
			<M UN="[Measures].[POS Movement Money Gross Min]" N="POS Movement Money Gross Min" CC="0" LD="1" />
			<M UN="[Measures].[POS Movement Money Gross Sum]" N="POS Movement Money Gross Sum" CC="0" LD="1" />
			<M UN="[Measures].[POS Movement Money Net Avg]" N="POS Movement Money Net Avg" CC="0" LD="1" />
			<M UN="[Measures].[POS Movement Money Net Max]" N="POS Movement Money Net Max" CC="0" LD="1" />
			<M UN="[Measures].[POS Movement Money Net Min]" N="POS Movement Money Net Min" CC="0" LD="1" />
			<M UN="[Measures].[POS Movement Money Net Sum]" N="POS Movement Money Net Sum" CC="0" LD="1" />
			<M UN="[Measures].[POS Weight Net Sum]" N="POS Weight Net Sum" CC="0" LD="1" />
			<M UN="[Measures].[POS Weight Cpg Gross Sum]" N="POS Weight Cpg Gross Sum" CC="0" LD="1" />
			<M UN="[Measures].[POS Weight Case Gross Sum]" N="POS Weight Case Gross Sum" CC="0" LD="1" />
			<M UN="[Measures].[POS Unit Sum]" N="POS Unit Sum" CC="0" LD="1" />
			<M UN="[Measures].[POS Case Sum]" N="POS Case Sum" CC="0" LD="1" />
		</M>
		<M UN="[Measures].[MSA]" N="MSA" CC="13" LD="0" PH="1" > 
			<M UN="[Measures].[MSA Count]" N="MSA Count" CC="0" LD="1" />
			<M UN="[Measures].[MSA Money Gross Avg]" N="MSA Money Gross Avg" CC="0" LD="1" />
			<M UN="[Measures].[MSA Money Gross Max]" N="MSA Money Gross Max" CC="0" LD="1" />
			<M UN="[Measures].[MSA Money Gross Min]" N="MSA Money Gross Min" CC="0" LD="1" />
			<M UN="[Measures].[MSA Money Gross Sum]" N="MSA Money Gross Sum" CC="0" LD="1" />
			<M UN="[Measures].[MSA Money Net Avg]" N="MSA Money Net Avg" CC="0" LD="1" />
			<M UN="[Measures].[MSA Money Net Max]" N="MSA Money Net Max" CC="0" LD="1" />
			<M UN="[Measures].[MSA Money Net Min]" N="MSA Money Net Min" CC="0" LD="1" />
			<M UN="[Measures].[MSA Money Net Sum]" N="MSA Money Net Sum" CC="0" LD="1" />
			<M UN="[Measures].[MSA VAT Avg]" N="MSA VAT Avg" CC="0" LD="1" />
			<M UN="[Measures].[MSA VAT Max]" N="MSA VAT Max" CC="0" LD="1" />
			<M UN="[Measures].[MSA VAT Min]" N="MSA VAT Min" CC="0" LD="1" />
			<M UN="[Measures].[MSA VAT Sum]" N="MSA VAT Sum" CC="0" LD="1" />
		</M>
		<M UN="[Measures].[Orders]" N="Orders" CC="25" LD="0" PH="1" > 
			<M UN="[Measures].[Order Case Avg]" N="Order Case Avg" CC="0" LD="1" />
			<M UN="[Measures].[Order Case Max]" N="Order Case Max" CC="0" LD="1" />
			<M UN="[Measures].[Order Case Min]" N="Order Case Min" CC="0" LD="1" />
			<M UN="[Measures].[Order Case Sum]" N="Order Case Sum" CC="0" LD="1" />
			<M UN="[Measures].[Order Cons Pkg Avg]" N="Order Cons Pkg Avg" CC="0" LD="1" />
			<M UN="[Measures].[Order Cons Pkg Max]" N="Order Cons Pkg Max" CC="0" LD="1" />
			<M UN="[Measures].[Order Cons Pkg Min]" N="Order Cons Pkg Min" CC="0" LD="1" />
			<M UN="[Measures].[Order Cons Pkg Sum]" N="Order Cons Pkg Sum" CC="0" LD="1" />
			<M UN="[Measures].[Order Count]" N="Order Count" CC="0" LD="1" />
			<M UN="[Measures].[Order Monetary Gross Avg]" N="Order Monetary Gross Avg" CC="0" LD="1" />
			<M UN="[Measures].[Order Monetary Gross Max]" N="Order Monetary Gross Max" CC="0" LD="1" />
			<M UN="[Measures].[Order Monetary Gross Min]" N="Order Monetary Gross Min" CC="0" LD="1" />
			<M UN="[Measures].[Order Monetary Gross Sum]" N="Order Monetary Gross Sum" CC="0" LD="1" />
			<M UN="[Measures].[Order Monetary Net Avg]" N="Order Monetary Net Avg" CC="0" LD="1" />
			<M UN="[Measures].[Order Monetary Net Max]" N="Order Monetary Net Max" CC="0" LD="1" />
			<M UN="[Measures].[Order Monetary Net Min]" N="Order Monetary Net Min" CC="0" LD="1" />
			<M UN="[Measures].[Order Monetary Net Sum]" N="Order Monetary Net Sum" CC="0" LD="1" />
			<M UN="[Measures].[Order Pallet Avg]" N="Order Pallet Avg" CC="0" LD="1" />
			<M UN="[Measures].[Order Pallet Max]" N="Order Pallet Max" CC="0" LD="1" />
			<M UN="[Measures].[Order Pallet Min]" N="Order Pallet Min" CC="0" LD="1" />
			<M UN="[Measures].[Order Pallet Sum]" N="Order Pallet Sum" CC="0" LD="1" />
			<M UN="[Measures].[Order Unit Avg]" N="Order Unit Avg" CC="0" LD="1" />
			<M UN="[Measures].[Order Unit Max]" N="Order Unit Max" CC="0" LD="1" />
			<M UN="[Measures].[Order Unit Min]" N="Order Unit Min" CC="0" LD="1" />
			<M UN="[Measures].[Order Unit Sum]" N="Order Unit Sum" CC="0" LD="1" />
		</M>
		<M UN="[Measures].[Prices]" N="Prices" CC="34" LD="0" PH="1" > 
			<M UN="[Measures].[Delivery Purchase Price Gross Avg]" N="Delivery Purchase Price Gross Avg" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Purchase Price Gross Max]" N="Delivery Purchase Price Gross Max" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Purchase Price Gross Min]" N="Delivery Purchase Price Gross Min" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Purchase Price Gross Sum]" N="Delivery Purchase Price Gross Sum" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Purchase Price Net Avg]" N="Delivery Purchase Price Net Avg" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Purchase Price Net Max]" N="Delivery Purchase Price Net Max" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Purchase Price Net Min]" N="Delivery Purchase Price Net Min" CC="0" LD="1" />
			<M UN="[Measures].[Delivery Purchase Price Net Sum]" N="Delivery Purchase Price Net Sum" CC="0" LD="1" />
			<M UN="[Measures].[DPM Consumer Price Gross Avg]" N="DPM Consumer Price Gross Avg" CC="0" LD="1" />
			<M UN="[Measures].[DPM Consumer Price Gross Max]" N="DPM Consumer Price Gross Max" CC="0" LD="1" />
			<M UN="[Measures].[DPM Consumer Price Gross Min]" N="DPM Consumer Price Gross Min" CC="0" LD="1" />
			<M UN="[Measures].[DPM Consumer Price Net Avg]" N="DPM Consumer Price Net Avg" CC="0" LD="1" />
			<M UN="[Measures].[DPM Consumer Price Net Max]" N="DPM Consumer Price Net Max" CC="0" LD="1" />
			<M UN="[Measures].[DPM Consumer Price Net Min]" N="DPM Consumer Price Net Min" CC="0" LD="1" />
			<M UN="[Measures].[POS Price Gross Avg]" N="POS Price Gross Avg" CC="0" LD="1" />
			<M UN="[Measures].[POS Price Gross Max]" N="POS Price Gross Max" CC="0" LD="1" />
			<M UN="[Measures].[POS Price Gross Min]" N="POS Price Gross Min" CC="0" LD="1" />
			<M UN="[Measures].[POS Price Gross Sum]" N="POS Price Gross Sum" CC="0" LD="1" />
			<M UN="[Measures].[POS Price Net Avg]" N="POS Price Net Avg" CC="0" LD="1" />
			<M UN="[Measures].[POS Price Net Max]" N="POS Price Net Max" CC="0" LD="1" />
			<M UN="[Measures].[POS Price Net Min]" N="POS Price Net Min" CC="0" LD="1" />
			<M UN="[Measures].[POS Price Net Sum]" N="POS Price Net Sum" CC="0" LD="1" />
			<M UN="[Measures].[Pricelist Consumer Price Gross Avg]" N="Pricelist Consumer Price Gross Avg" CC="0" LD="1" />
			<M UN="[Measures].[Pricelist Consumer Price Gross Max]" N="Pricelist Consumer Price Gross Max" CC="0" LD="1" />
			<M UN="[Measures].[Pricelist Consumer Price Gross Min]" N="Pricelist Consumer Price Gross Min" CC="0" LD="1" />
			<M UN="[Measures].[Pricelist Consumer Price Net Avg]" N="Pricelist Consumer Price Net Avg" CC="0" LD="1" />
			<M UN="[Measures].[Pricelist Consumer Price Net Max]" N="Pricelist Consumer Price Net Max" CC="0" LD="1" />
			<M UN="[Measures].[Pricelist Consumer Price Net Min]" N="Pricelist Consumer Price Net Min" CC="0" LD="1" />
			<M UN="[Measures].[Pricelist Purchase Price Gross Avg]" N="Pricelist Purchase Price Gross Avg" CC="0" LD="1" />
			<M UN="[Measures].[Pricelist Purchase Price Gross Max]" N="Pricelist Purchase Price Gross Max" CC="0" LD="1" />
			<M UN="[Measures].[Pricelist Purchase Price Gross Min]" N="Pricelist Purchase Price Gross Min" CC="0" LD="1" />
			<M UN="[Measures].[Pricelist Purchase Price Net Avg]" N="Pricelist Purchase Price Net Avg" CC="0" LD="1" />
			<M UN="[Measures].[Pricelist Purchase Price Net Max]" N="Pricelist Purchase Price Net Max" CC="0" LD="1" />
			<M UN="[Measures].[Pricelist Purchase Price Net Min]" N="Pricelist Purchase Price Net Min" CC="0" LD="1" />
		</M>
		<M UN="[Measures].[ROI]" N="ROI" CC="1" LD="0" PH="1" > 
			<M UN="[Measures].[ROI]" N="ROI" CC="0" LD="1" />
		</M>
		<M UN="[Measures].[Sales Calls and Calendar]" N="Sales Calls and Calendar" CC="11" LD="0" PH="1" > 
			<M UN="[Measures].[Field Days Count]" N="Field Days Count" CC="0" LD="1" />
			<M UN="[Measures].[Sales Call Count]" N="Sales Call Count" CC="0" LD="1" />
			<M UN="[Measures].[Sales Call Frequency]" N="Sales Call Frequency" CC="0" LD="1" />
			<M UN="[Measures].[Sales Call Length Avg]" N="Sales Call Length Avg" CC="0" LD="1" />
			<M UN="[Measures].[Sales Call Length Max]" N="Sales Call Length Max" CC="0" LD="1" />
			<M UN="[Measures].[Sales Call Length Min]" N="Sales Call Length Min" CC="0" LD="1" />
			<M UN="[Measures].[Sales Call Length Sum]" N="Sales Call Length Sum" CC="0" LD="1" />
			<M UN="[Measures].[Sales Call Store Distinct Count]" N="Sales Call Store Distinct Count" CC="0" LD="1" />
			<M UN="[Measures].[Sales Call Travel Time Avg]" N="Sales Call Travel Time Avg" CC="0" LD="1" />
			<M UN="[Measures].[Sales Call Travel Time Sum]" N="Sales Call Travel Time Sum" CC="0" LD="1" />
			<M UN="[Measures].[Working Days Count]" N="Working Days Count" CC="0" LD="1" />
		</M>
		<M UN="[Measures].[Stock]" N="Stock" CC="4" LD="0" PH="1" > 
			<M UN="[Measures].[Average Stock Semiadd]" N="Average Stock Semiadd" CC="0" LD="1" />
			<M UN="[Measures].[Average Stock Time Diff]" N="Average Stock Time Diff" CC="0" LD="1" />
			<M UN="[Measures].[Stock Cover Days Semiadd]" N="Stock Cover Days Semiadd" CC="0" LD="1" />
			<M UN="[Measures].[Stock Turn Days Semiadd]" N="Stock Turn Days Semiadd" CC="0" LD="1" />
		</M>
		<M UN="[Measures].[Store Hierarchy]" N="Store Hierarchy" CC="2" LD="0" PH="1" > 
			<M UN="[Measures].[Store Distinct Count]" N="Store Distinct Count" CC="0" LD="1" />
			<M UN="[Measures].[Store Turnover]" N="Store Turnover" CC="0" LD="1" />
		</M>
		<M UN="[Measures].[Surveys]" N="Surveys" CC="5" LD="0" PH="1" > 
			<M UN="[Measures].[Survey Answer Avg]" N="Survey Answer Avg" CC="0" LD="1" />
			<M UN="[Measures].[Survey Answer Count]" N="Survey Answer Count" CC="0" LD="1" />
			<M UN="[Measures].[Survey Answer Max]" N="Survey Answer Max" CC="0" LD="1" />
			<M UN="[Measures].[Survey Answer Min]" N="Survey Answer Min" CC="0" LD="1" />
			<M UN="[Measures].[Survey Answer Sum]" N="Survey Answer Sum" CC="0" LD="1" />
		</M>
		<M UN="[Measures].[Targets]" N="Targets" CC="10" LD="0" PH="1" > 
			<M UN="[Measures].[Target Monetary1 Sum]" N="Target Monetary1 Sum" CC="0" LD="1" />
			<M UN="[Measures].[Target Monetary2 Sum]" N="Target Monetary2 Sum" CC="0" LD="1" />
			<M UN="[Measures].[Target Monetary3 Sum]" N="Target Monetary3 Sum" CC="0" LD="1" />
			<M UN="[Measures].[Target Monetary4 Sum]" N="Target Monetary4 Sum" CC="0" LD="1" />
			<M UN="[Measures].[Target Money Sum]" N="Target Money Sum" CC="0" LD="1" />
			<M UN="[Measures].[Target Numeric1 Sum]" N="Target Numeric1 Sum" CC="0" LD="1" />
			<M UN="[Measures].[Target Numeric2 Sum]" N="Target Numeric2 Sum" CC="0" LD="1" />
			<M UN="[Measures].[Target Numeric3 Sum]" N="Target Numeric3 Sum" CC="0" LD="1" />
			<M UN="[Measures].[Target Numeric4 Sum]" N="Target Numeric4 Sum" CC="0" LD="1" />
			<M UN="[Measures].[Target Volume Sum]" N="Target Volume Sum" CC="0" LD="1" />
		</M>
	</H>
	
</MEASURES_HIERARCHY>

</ROOT>