<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

	<add key="SchemaMapFilePath" value="C:\Documents and Settings\German.Glushkov.FIELDFORCE\Desktop\UNI\SchemaMap.xml"/>
	<add key="DBFINFConnection" value="server=10.0.0.67; User ID=spp; Password=spp; Database=DBFINF;"/>
	<add key="DBFINFCompanyId" value="1"/>

	<add key="SrcOlapConnection" value="Data Source=localhost;Initial Catalog=DBSALESPP;Provider=MSOLAP;MDX Unique Name Style=3;"/>
	<add key="SrcCube" value="VIRTUAL"/>

	<add key="DestOlapConnection" value="Data Source=10.0.0.67;Initial Catalog=DBSALESPP;Provider=MSOLAP;MDX Unique Name Style=3;"/>
	<add key="DestCube" value="VIRTUAL"/>
	<add key="DestWindowsUserName" value="UNILEVER-HKI\Administrator"/>
	<add key="DestWindowsPassword" value="To.change"/>	  

  </appSettings>
</configuration>