<?xml version="1.0" encoding="utf-8" ?>
<configuration>

<configSections>
	<section name="FIConfig" type="FI.Common.AppConfig,FI.Common" />
</configSections>

<FIConfig>
	
	<add key="EventLogName" value="FieldInformer.NET"/>
	<add key="EventLogSource" value="OlapProcessor"/>


	<add key="IsDebugMode" value="false"/>
	
</FIConfig>

</configuration>
