<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
	<section name="FIConfig" type="FI.Common.AppConfig,FI.Common"/>
	<section name="IPAccess" type="FI.Common.AppConfig,FI.Common"/>
</configSections>
 	

 
 <!--
 <IPAccess>
		<add key="foodmart" value=" 10.3.0.175; 10.3.0.172-10.3.0.173;10.3.0.170-10.3.0.172"/>
 </IPAccess>
 -->


<FIConfig>

	<add key="EventLogName" value="FieldInformer.NET"/>
	<add key="EventLogSource" value="Web"/>
	
	<add key="TempDir" value="C:\Inetpub\wwwroot\FieldInformer.NET\UI.Web\Temp"/>	
	<add key="TempVirtualDir" value="Temp"/>	
	<add key="LogPath" value="C:\Inetpub\wwwroot\FieldInformer.NET\Temp\AppLog.txt"/>
	<add key="AppName" value="FieldInformer"/>
	
	<add key="SmtpSender" value="eForce@fieldforce.com"/>
	<add key="SmtpServer" value="10.0.0.244"/>
	<add key="SmtpUserName" value="eForce"/>
	<add key="SmtpPassword" value="eForceTvojuMat"/>
		
	<add key="DataAccessUrl" value="tcp://localhost:8070"/>
	
	<add key="HideCustomReports" value="false"/>
	<add key="AuditPageHits" value="true"/>
	<add key="IsDebugMode" value="true"/>
		
	<add key="ReportRunOnClick" value="false"/>	
		
</FIConfig>


  <system.web>

    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="true">
    <assemblies>
    </assemblies>
    </compilation>

    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off"/> 

    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <authentication mode="Windows"/> 
	
	
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>

    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>

    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
   


 </system.web>





</configuration>
<!--

VERSION INFO

== 1.0.1 =============================
	= fixed HIDE_NONEMPTY option setting
	= format of measures using MeasureWrapper

== 1.0.2 =============================
	= storecheck reports with selection and base selection
	= fixed undo bug in storecheck report
	= installation bugs fixed (sql scripts)
	= All level recognition fixed
	
== 1.0.3 ============================
	= when user being deleted,  delete shared reports is correct
	= new sharing logic (internal)
	= report state problems (undo invalid states and other problems) fixed

== 1.0.4 ============================
	= member selections in olap design fixed
	= grid wildcards fixed
	= session audit added

== 1.0.5 ============================
	= delete shared report witch child states fixed

== 1.0.6 ============================
	= distribution of storecheck report fixed
	= export in storecheck report fixed
	= version caption changed
	= logs in Windows EventLog
	= dataset serialzation fixed
	= drill-down fixed
	= some slow order+msa reports fixed (cubes changed)

== 1.0.7 ============================
	= olap desgin tab - update button - fixed removal of last calc measure
	= all exceptions logged in EventLog
	= export to excel numeric field problem fixed
	= service processors are loaded on startup, "thread aborted exception" fixed.
	= installation - (no data in [MSA].MSEALWTYPE and [Sales Call].SALCTYPE dimensins fixed)

== 1.0.8 ============================
	= format measure - multiple rename bug fixed
	= 2nd attemempt to reconnect on olap error
	= 1 hour processing timeout (for 1 object) changed to 4 hours
	= incorrect calc of expanded case vol fixed

== 1.0.9 ============================
	= POS weight measures added
	= truncated data in OLAP_STORE and OLAP_WHOLESLER sprocs (no release)
	
== 1.1.0 ============================
	= "Cover with Selection Semiadd %" measure added
	= finnish first week style  calulation
	= product supplier field length fixed
		
== 1.2.0 ============================
	= dispatch file format option (CSV, HTML)
	= color schemes
	= auto-select member children		
	= set default filter button in filter control (remove button)
	= open-close advanced properties
	= new calc measure - inherited NULL
	= backup-restore cubes
	= dimension product name with code
		
== 1.2.5 ============================
	= members by default sorted in hierarchy order (HIERARCHIZE) (web)
	= open nodes bug fixed (were closed after re-opening report) (web)
	= aggregated and formatted members display bug fixed ( wasn't displayed in exported olap reports) (web)
	= report always opens in "Edit" mode, not "Table" mode (web)
	= more user-friendly UI to add calculated members (web)
	= measure to measure arithmetic operations ( -, + , /, * , inherite NULL) (web)
	= "SharingSubscriber" reports can now be changed, but not not saved (copy can be saved) (web)
	= "Dispatch" button renamed back to "Distribute" (web)
	= product price in delivery views is changed  from "per case" to "per cons. pkg" (sql)
	= selection and base selection calculation problems fixed ( checking dates when detecting chain-company-pricelist dependency) (sql)
	= store chains and central chains resolved considering today date (sql)	

== 1.2.6 ============================
	= new measures - POS Unit Sum, POS Case Sum
						
== 1.2.7 ============================
	= Every olap databse has it's own configurable set of query processors ( 3 processors for each database at the moment). One processor might be busy handling scheduled reports, at the same time others can handle online requests.
	= Report distribution queue management (add, remove pending, cancel executing).
	= Report execution time is measured and logged. 
	= Report caching improved (in case it should be sent to several email addresses).
	= Queue handling logic - reports with least logged execution time handled first.
	
== 1.2.8 (20.03.2007)============================
	= Storecheck reports "DataSource" configuration -.Deliveries, Sales, or both
	= HideCustomReports config option hides Custom MDX, Custom SQL and Storecheck report tabs (Deon)
	= ReportRunOnClick config options shows whether click on report name in list will open report in "Table" or "Edit" mode
	= Cube name with spaces  problem fixed

== 1.2.9 (16.05.2007)============================
	= Some firefox compatibility problems fixed
	= All olap members can be formatted (name + umber format). Previously it was possible only for measures.
	= Time calculated members can handle semiadditive members (VIRTUAL cube)
	
== 1.2.10 (01.10.2007)============================	
	= SMTP authentication supported
	= OlapProcessor info UI
	= Improved Distribution Management UI

== TODO ============================
	= bug when update button in edit mode is pressed, then not visible aggregated filter members are being unselected
	= invalid xml characters - like char(4)
	= select children of member as [Member].Children statement
	= page name FieldInformer , so when user adds to favorites it's correct, not FieldForce Solutions
	= weekly distribution - week5 is also possible!!
	= eForce ROUTER performance problems !!!
	= cookieless session
	= CUBES:
		= City level in postal code hierarchy 
		= Salesmen optimization
		= ToDate optimization
		= MSA and Order attributes as separate dimensions
	= format of measures without asterixes, with descriptions and presented in print view
	= graph is not aware of formatting (use FormattedValue?) 
	= calculated member builder
	= CrystalReports
		= Customer serno
		= Prod serno
		= ProdGroup serno
		= Time range
		= Salesman serno
		= Salesman group
	= hide not needed tabs
	= hide dimension config in UI
	= distribution report format (CSV, PDF, HTML_for_PDA)
	= report format options (HTML no wrap headers , ...)
	= when VIS AGGREGATE is added, and it aggregates some ratio member (like in time hier), then formatting is wrong and ratio is also summarized
	= Refresh button with JavaScript
	= update button in near of check boxez (so that no need to scroll up to uodate?)
	= auto-update when select-all or empty-all
	= change Dispatch button name to "Email distribution" or "Distribution"?
	= change string "Discard Changes and Save Copy As.." to "Save As..."?
	= count semiadd measures not from beginning of time, but from some time. this will alow to restrict measurement time range. 			
	= somehow track of last openend report and select checkbox on that report
	= try to backup cube before process and try to restore when process fails.
	= cube update time in UI?
	= nightly job failure notification?
	= delivery distinct process query optimization?
	= description field should be bigger in export report dialog

-->
